#comic_container {
  width: 1000px;
  height: 1000;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

#comic_img {
  max-width: 100%;
  max-height: 100%;
}

#body {
  background-color: white;
  transition: background-color 0.5s ease-out;
}

#lightSwitch {
  color: grey;
  background-color: white;
  border: none;
  display: inline-block;
  transition: background-color 0.5s ease-out;
  width: 80px;
  height: 20px;
}

.container {
  text-align:center;
}

h3 {
  display: inline-block;
}

#lightswitch-container {
  text-align:center;
  position: -webkit-sticky; /* safari */
  position: sticky;
  top: 0;
}
